<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">{{appName}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="[ '/home' ]">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="[ '/about-us' ]">About Us</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="[ '/contact-us' ]">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <ng-container *ngIf="isAuthenticated$ | async; else notLoggedInTemplate">
                    <li class="nav-item" routerLinkActive="active">
                        <a href="#" class="nav-link" [routerLink]="['/profile']">Profile - {{fullName}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" (click)="logout($event)">Logout</a>
                    </li>
                </ng-container>
                <ng-template #notLoggedInTemplate>
                    <li class="nav-item">
                        <a href="#" class="nav-link" (click)="login($event)">Login</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>